@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* .no-scrollbar:state(webkit-scrollbar) {
    display: none;
  } */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  .table {
    @apply w-screen;
  }

  .table-head {
    @apply bg-[var(--gray-20)] font-black text-center;
  }

  .table-roll {
    @apply bg-[var(--gray-05)] border-b-4 border-[vare(--gray-20)] hover:bg-[var(--gray-10)] text-center;
  }

  .table-cell {
    @apply p-3 text-center;
  }
}

/*  #00b894*/

:root {
  --green: #29cd9c;
  --black: black;
  --white: white;
  --gray-01: #f8f8f8;
  --gray-05: #f2f2f2;
  --gray-10: #e6e6e6;
  --gray-20: #ccc;
  --gray-50: grey;
  --gray-80: #333;
  --green-trans: #29cd9c77;
  --black-trans: #00000050;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--black);
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-family: "Quicksand", "Work Sans", sans-serif;
  background-color: var(--white);
}

.responsive-ad iframe {
  width: 100% !important;
  height: auto !important;
  aspect-ratio: 728 / 90;
}
