@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar:state(webkit-scrollbar) {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  --green: #29cd9c;
  --black: black;
  --white: white;
  --gray-01: #f8f8f8;
  --gray-05: #f2f2f2;
  --gray-10: #e6e6e6;
  --gray-20: #ccc;
  --gray-50: grey;
  --gray-80: #333;
  --green-trans: #29cd9c77;
  --black-trans: #00000050;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--black);
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-family: "Quicksand", "Work Sans", serif;
  background-color: var(--white);
}
